.container-fluid{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 150px;
}

h3 {
    color: white;
}

label { 
    color: white;
}

h1 {
    color: white;
}

<<<<<<< Updated upstream
=======
hr {
    border-top: 10px;
    border-radius: 10px;
    /*width: 100%;*/
    height: 10px;
    /*border:none;*/
    /*margin-bottom: 7px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*margin-top: 9px;*/
    /*border-width: 10px;*/
    /*border-top: 10px;*/
    border-color: blue;
}

#primaryButtonBox{
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 10%;

}

.primaryButton{

}

>>>>>>> Stashed changes
button {
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    background: #5954A4;
    background: -moz-linear-gradient(left, #5954A4 0%, #8AD5EA 100%);
    background: -webkit-linear-gradient(left, #5954A4 0%, #8AD5EA 100%);
    background: linear-gradient(to right, #5954A4 0%, #8AD5EA 100%);
    color: white;
}

#title {
    font-family: Monoton;
}

.visualizationButtons img {
   border: 2px solid #5954A4;
}

<<<<<<< Updated upstream
=======
.visualizationBox, .manipulationBox{
    display: inline-block;
    float: left;
}

>>>>>>> Stashed changes

@media only screen and (min-width: 1490px)
{
}
@media only screen and (max-width: 1490px) and (min-width: 1366px)
{
}
@media only screen and (max-width: 1366px) and (min-width: 1280px) 
{
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) 
{
}
@media only screen and (max-width: 1024px) and (min-width: 768px) 
{
    #titleImage  {
        width: 100%;
        height: auto;
    }

     .visualizationButtons img {
         width: auto;
         height: auto;
     }
}
@media only screen and (max-width: 768px) and (min-width: 375px) 
{
    #titleImage {
        width: 100%;
        height: auto;
    }

    .visualizationButtons img {
        width: auto;
        height: auto;
    }
}